@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
.main-section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 242, 192);
}
.container {
  width: 90%;
  margin: 0 auto;
}

.box {
  background-color: aliceblue;
  padding: 0.5rem;
  max-width: 35%;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.upper-sec {
  background-image: url(./pattern2.jpg);
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.upper-sec img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.content-wrapper {
  display: flex;
  justify-content: center;
}

.lower-sec {
  padding: 1rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.lower-sec h4 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.lower-sec span {
  margin-bottom: 1rem;
}

.lower-sec .desc {
  text-align: justify;
  margin-bottom: 1rem;
  font-size: 14px;
  width: 70%;
  margin-top: 10px;
}

.buttons-wrapper {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons-wrapper button:nth-child(1) {
  color: #fff;
  padding: 0.5rem;
  background-color: rgb(224, 63, 139);
  border: none;
  border-radius: 6px;
  width: 30%;
}

.buttons-wrapper button:nth-child(2) {
  padding: 0.5rem;
  color: rgb(135, 135, 135);
  border: 0.5px solid rgb(135, 135, 135);
  margin-left: 0.5rem;
  border-radius: 6px;
  background-color: transparent;
  min-width: 30%;
  margin-left: 1rem;
}

.icon-boxes {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1rem;
  width: 100%;
}

.icon-boxes i {
  font-size: 1.5rem;
}
